
<div class="container">
    
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2">
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" placeholder="Enter a Github user name..."
                            [(ngModel)]="username" (keyup.enter)="searchUser()">
                        </div>
                    
                        
                    
                        
                    </form>
                    
                </div>
            </div>
            
           <div *ngIf="user" ><!--Add *ngIf="user" -->
               
               <div class="panel panel-primary">
                     <div class="panel-heading">
                           <h3 class="panel-title">{{user.name}}</h3>
                     </div>
                     <div class="panel-body">
                           
                           <div class="row">
                               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
                                   <img class="profile-img img-thumbnail" src="{{user.avatar_url}}" alt="">
                                   <a class="btn btn-default" href="{{user.html_url}}" target="_blank">View Profile</a>
                               </div>
                               
                               <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                   <div class="stats">
                                       
                                   <span class="label label-primary">{{user.public_repos}} Public Repos</span>
                                   <span class="label label-success">{{user.public_gists}} Public Gists</span>
                                   
                                   <span class="label label-info">{{user.followers}} Followers</span>
                                   <span class="label label-warning">{{user.following}} Following</span>
                                   </div>
                                   <ul class="list-group"> 
                                       <li class="list-group-item"><strong>Username:</strong>{{user.login}}</li>
                                       <li class="list-group-item"><strong>Location:</strong>{{user.location}}</li>
                                       <li class="list-group-item"><strong>Email:</strong>{{user.email}}</li>
                                       <li class="list-group-item"><strong>Blog:</strong>{{user.blog}}</li>
                                       <li class="list-group-item"><strong>Member Since:</strong>{{user.created_at}}</li>
                                   </ul>
                               </div>
                               
                           </div>
                           
                     </div>
               </div>

               <div class="panel panel-primary">
                     <div class="panel-heading">
                           <h3 class="panel-title">Repos</h3>
                     </div>
                     <div class="panel-body">
                           
                           <div class="row">
                               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <div *ngFor="let repo of repos">
                                      
                                      <div class="row">
                                          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                              <h4> <a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a> </h4>
                                              <p>{{repo.description}}</p>
                                          </div>
                                          <div class="col-md-3">
                                              <span class="label label-primary">{{repo.watchers}} Watchers</span>
                                              <span class="label label-success">{{user.forks}} Fork</span>
                                          </div>
                                      </div>
                                      <hr>
                                  </div>
                               </div>
                               
                               
                               
                           </div>
                           
                     </div>
               </div>
               
           </div> 
        </div>
    </div>
    
</div>
